<div class="button-container">
    <button>
      <a routerLink="ngonchange">ngOnChange</a>
    </button>
    <button>
      <a routerLink="ngaftercontentchecked">ngAfterContentChecked</a>
    </button>
    <button>
      <a routerLink="ngaftercontentinit">ngAfterContentInit</a>
    </button>
    <button>
      <a routerLink="ngafterviewchecked">ngAfterViewChecked</a>
    </button>
    <button>
      <a routerLink="ngafterviewinit">ngAfterViewInit</a>
    </button>
    <button>
      <a routerLink="ngdocheck">ngDoCheck</a>
    </button>
    <button>
      <a routerLink="ngondestroy">ngOnDestroy</a>
    </button>
    <button>
      <a routerLink="ngoninits">ngOnInit</a>
    </button>
  </div>
  

